@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);

.MyButton {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
  background: #b7becc;
  box-shadow: 0px 5px 0px 0px #9ca3b0;
  font-family: "Josefin Slab", serif;
  border: none;
}

.MyButton_Width_Full {
  width: 100%;
}

.MyButton:hover {
  box-shadow: 0px 0px 0px 0px #9ca3b0;
  margin-top: 15px;
  margin-bottom: 5px;
}

.MyButton:active {
  background: #787c84;
}